:root{
    --bg-python-blue: rgb(36,80,118);
    --bg-python-semiblue: rgb(50,116,172);
    --bg-python-lightblue: rgb(54,118,173);
    --bg-python-ultralightblue: rgb(91,146,193);
    --bg-python-yellow: rgb(255,219,62);
}

* {
    font-family: 'Roboto', sans-serif;
    outline: 0px solid red;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

p, a, ul, li, span{
    font-size: .95rem;
}

body {
    background-color: rgb(225, 225, 225);
}

a, a:visited {
    color: var(--bg-python-yellow);
    text-decoration: underline;
}

a:hover {
    color: rgb(255, 153, 0);
    text-decoration: underline;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    width: 970px;
    min-height: 500px;
    margin: 0 auto;
    vertical-align: top;
}

.wrapper-inner {
    height: auto;
    margin: 20px;
}

.container-header{
    font-size: 0;
    height: 200px;
    margin: 0;
    padding: 0;
}

.container-footer{
    height: 100px;
    background-image: linear-gradient(to bottom, var(--bg-python-blue), var(--bg-python-semiblue));
    text-align: center;
    color: var(--bg-python-ultralightblue);
}

.container-navbar-content{
    background-color: var(--bg-python-blue);
    margin: 0;
    padding: 0;
}

.container-content{
    margin: 0 140px;
    padding: 0 0;
    display: inline-block;
}

.bg-python-blue{
    background-color: var(--bg-python-blue);
}

.logo {
    width: 350px;
    display: inline-block;
}

.text-size {
    position: relative;
    left: 390px;
    top: 7px;
    font-size: .75rem;
    color: rgb(255, 255, 255);
    vertical-align: top;
    display: inline-block;
}

.text-size a{
    font-size: .75rem;
}

.searchbox{
    background-color: rgb(68,68,68);
    box-shadow: 5px 5px 5px rgb(0,0,0);
    border-radius: 5px;
    width: 260px;
    height: 60px;
    vertical-align: top;
    position: relative;
    left: 170px;
    top: 30px;
    display: inline-block;
}

.searchbox-textbox{
    margin: 12px 0 0 30px;
    width: 150px;
    height: 30px;
    display: inline-block;
}
.searchbox-button{
    height: 34px;
    margin: 12px 0 0 5px;
    padding: 0 10px;
    color: white;
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    background-color: var(--bg-python-blue);
    display: inline-block;
}

.navbar{
    height: 50px;
    padding: 0 50px;
    margin: 30px 30px 0;
    border-radius: 5px;
    background-image: linear-gradient(var(--bg-python-lightblue), var(--bg-python-ultralightblue), var(--bg-python-lightblue));

}

.navbar-menu{
    /* padding: 0px 00px 0; */
    background-color: red;
}

.menu-spacer{
    width: 15px;
    display: inline-block;
}

.navbar li{
    margin: 14px 0 0 0;
    font-weight: 300;
    display: inline-block;
}

.navbar a, .navbar a:visited{
    font-size: 1.1rem;
    color: rgb(255,255,255);
    text-decoration: none;
    padding: 15px 26px;
}

.navbar a:hover{
    font-size: 1.1rem;
    color: var(--bg-python-yellow);
    text-decoration: none;
}

.navbar-submenu{
    margin: 0;
    padding: 0;
    width: 300px;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.navbar-info{
    width: 626px;
    margin: 0;
    text-align: center;
    color: white;
    display: inline-block;
}

.navbar-info ul{
    list-style: none;
}

.navbar-info li{
    color: var(--bg-python-yellow);
    font-size: 1.2rem;
    font-style: oblique;
}

.navbar-info p{
    padding: 0 20px 15px 20px;
}

.navbar-submenu li:before{
    font-size: .9rem;
    color: var(--bg-python-yellow);
    content: "»";
}

.navbar-submenu li{
    margin: 0 0 10px 0;
}

.navbar-submenu a, .navbar-submenu a:visited{
    color: white;
}

.navbar-submenu a:hover{
    color:var(--bg-python-yellow);
}

.content-item{
    text-align: center;
    margin: 5px 10px 0;
    width: 300px;
    height: 250px;
    border-top: 5px solid var(--bg-python-ultralightblue);
    display: inline-block;
}

.content-item a, .content-item a:visited{
    color: var(--bg-python-ultralightblue);
    text-decoration: none;
}

.content-item a:hover{
    color: orange;
    text-decoration: none;
}

.content-item ul{
    margin-left: 20px;
}

.content-item h3, .content-item p{
    margin: 10px 0;
}

.container-footer li{
    margin: 50px 20px 0 20px;
    display: inline-block;
}

.container-footer a, .container-footer a:visited{
    /* margin: 0 30px ; */
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--bg-python-ultralightblue);
}

.container-footer a:hover{
    /* margin: 0 30px ; */
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--bg-python-yellow);
}

.container-footer h6{
    margin: 10px;
}

.tx-python-yellow{
    color: rgb(255,219,62);
}

li.tx-white{
    color: white;
}